{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"],
          "node": "18.0.0"
        },
        "modules": false
      }
    ]
  ],
  "plugins": []
}
